---
name: Testing Report
about: Describe the tests
title: 'TEST:'
labels: documentation, testing
assignees: ''

---

**Testing Type**
- [ ] End to End - Cypress
- [ ] Unit - Jest
**What features need to be tested?**
- [ ] <!--- Feature 1 --->
- [ ] <!--- Feature 2 --->
- [ ] <!--- Feature 3 --->
**What does the test include?**
- [ ] Fixtures
- [ ] Stubbing
- [ ] Snapshots
- [ ] Other:
